[defaults]
inventory = ./inventory
deprecation_warnings = false
callback_whitelist = timer, yaml, profile_tasks
display_skipped_hosts = false
gathering = smart
cow_selection = random
cow_whitelist=bud-frogs,bunny,cheese,daemon,default,dragon,elephant-in-snake,elephant,eyes,\
              hellokitty,kitty,luke-koala,meow,milk,moofasa,moose,ren,sheep,small,stegosaurus,\
              stimpy,supermilker,three-eyes,turkey,turtle,tux,udder,vader,www


