{
 "connection_info": {
     "username": "admin",
     "password": "{{controller.password}}",
     "cloud": "{{cloud_name}}",
     "version": "{{api_version}}",
     "tenant": "admin",
     "enforcement_point_address": "{{controller.hostname}}:443",
     "resource_type": "AviConnectionInfo"
   },
   "auto_enforce": true,
   "resource_type": "EnforcementPoint",
   "id": "alb-endpoint",
   "display_name": "alb-endpoint",
   "path": "/global-infra/sites/localSite/enforcement-points/default",
   "relative_path": "default",
   "parent_path": "/global-infra/sites/localSite",
   "unique_id": "8f9e7564-757d-4819-aa22-f7999fa3015e",
   "marked_for_delete": false,
   "overridden": false
}
