[Unit]
Description=AVICONTROLLER
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always

ExecStartPre=-/usr/bin/docker kill avicontroller
ExecStartPre=-/usr/bin/docker rm -f avicontroller
ExecStartPre=/usr/bin/docker run {{ docker_run_params }}
ExecStart=/usr/bin/docker wait avicontroller
ExecStop=-/usr/bin/docker stop avicontroller
ExecStop=-/sbin/ifconfig {{ dev_name }}:1 down
ExecStopPost=-/usr/bin/docker kill avicontroller
ExecStopPost=-/usr/bin/docker rm -f avicontroller

[Install]
WantedBy=multi-user.target
